html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//Text

.text-center {
  text-align: center;
}

.bold-text {
  font-weight: 700;
}

.light-text {
  font-weight: 300;
}

//Margins

.mb-0 {
  margin-bottom: 0;
}

//Bg colors thumbs
.cont-thumb-up {
  background-color: rgba(color("cyan", "base"), 0.9);
}
.cont-thumb-up:hover {
  background-color: rgba(color("cyan", "darken-1"), 0.9);
}
.cont-thumb-down {
  background-color: rgba(color("amber", "base"), 0.9);
}
.cont-thumb-down:hover {
  background-color: rgba(color("amber", "darken-1"), 0.9);
}

//Displays
.d-none {
  display: none;
}

.d-block {
  display: block;
}
